@import "./base/reset";
@import "./base/fonts";
@import "./base/variables";
@import "./base/mixins";

* {
  font-family: Charmonman !important;
}

.container {
  display: block;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

table {
  border: 1px solid #000;
  width: 50%;

  td {
    background-color: #ccc;
    padding: 10px;
  }

  tr:nth-child(odd) td {
    background-color: #eee;
  }
}
